extends .pug/_layout/_top.pug
block pageContent
  main
    section.section-top
      .top.kv
        .kv__bg__color
        .kv__bg_image
          img(src="images/top_kv.png", alt="キービジュアル" width=100)
          .kv__mask
        .kv__hdg
          p
            | デザインで人を笑顔にする会社
            br
            | DIGSMILE.INC
          h2
            | DESIGN
            br
            | FOR
            br
            | SMILE.