header.header
  .header__inner
    .header__contents
      h1.header__logo
        a(href="/")
          img(src="images/common_logo.png", alt="ヘッダーロゴ" width=100)
      .header__menu
        button(type='button').header__menu__btn
        h2 MENU
  .header__mask
  .header__nav
    .nav__logo
      img(src="images/common_nav-logo.png", alt="" width=100)
    ul.nav__list
      li.nav__item
        a(href="/") ABOUT US
      li.nav__item
        a(href="/") WORKS
      li.nav__item
        a(href="/") CULTURE
      li.nav__item
        a(href="/") TOPICS
      li.nav__item
        a(href="/") CONTACT