header.header
  .header__inner
    .header__contents
      h1.header__logo
        a(href="/")
          img(src="images/common_logo.png", alt="ヘッダーロゴ" width=100)
      .header__menu
        button(type='button').header__menu__btn
        h2 MENU