doctype html
-
  var IMG_PATH = "images/"
      CSS_PATH = "css/"
html(lang="ja")
  head
  meta(charset="UTF-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  link(rel="stylesheet", href=`${CSS_PATH}reset.css`)
  link(rel="stylesheet", href=`${CSS_PATH}style.css`)
  link(rel="stylesheet", href="https://use.typekit.net/sdw8hxc.css")
  title Document
  body
    include ../_include/_header.pug
    block pageContent
    include ../_include/_footer.pug